.main-body{
    background-color: #DDDDDD ;
}

nav {
    background-color: #1DA1F2;
}

.navbar-brand{
    font-weight: bold;
}

.navbar a {
    color: white; 
    font-size: 20px;
}

.navbar .form-control {
    border-radius: 10px;
}

.btn {
    background-color: #fff;
}

.main-container{
    background-color: #fff;
}

.profile_image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Adds space below the image */
}

.chirp_cloudinary_img {
    max-width: 85%; /* Ensures the image doesn't exceed container width */
    height: auto;
}

