{% extends 'chirpsocial/base.html' %}

{% block content %}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-4 text-uppercase">
                {{ profile.user.username }}'s Chirp
            </h1>
        </div>
        <form method="post">
            {% csrf_token %}
        <div class="">
            {% if profile in user.profile.follows.all %}
                <button class="btn btn-dark btn-sm" disabled>Follow</button>
                <button class="btn btn-secondary btn-sm" name="follow" value="unfollow">Unfollow</button>
            {% else %}
                <button class="btn btn-dark btn-sm" name="follow" value="follow">Follow</button>
                <button class="btn btn-secondary btn-sm"disabled>Unfollow</button>
            {% endif %}
        </div>
        </form>
    </div>


    <div class="content">
        {% for chirp in profile.user.chirps.all %}
            <div class="box">
                {{ chirp.body }}
                <span class="is-small has-text-grey-light">
                    ({{ chirp.created_at }})
                </span>
            </div>
        {% endfor %}
    </div>


    <div class="col-md-4"> <!-- Adjusting to a Bootstrap column layout -->
        <div class="mb-3">
            <a href="{% url 'chirp:profile_list' %}">
                <button class="btn btn-outline-dark btn-block">
                    All Profiles
                </button>
            </a>
        </div>
        <div class="mb-4">
            <h3 class="h5">
                {{ profile.user.username }} follows:
            </h3>
            
            <div class="content">
                <ul class="list-unstyled">
                    {% for following in profile.follows.all %}
                        <li>
                            <a href="{% url 'chirp:profile' following.id %}" class="text-decoration-none">
                                {{ following }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>

        <div>
            <h3 class="h5">
                {{ profile.user.username }} is followed by:
            </h3>
            <div class="content">
                <ul class="list-unstyled">
                    {% for follower in profile.followed_by.all %}
                        <li>
                            <a href="{% url 'chirp:profile' follower.id %}" class="text-decoration-none">
                                {{ follower }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
